<section id="advantages" class="container advantages">
    <h3>К вашим услугам</h3>
    <div class="row">
        <div class="col-xs-3">
            <div class="flex-center">
                <svg width="80" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><defs><style>.cls-1{fill:#d2fcd2;}.cls-2{fill:#303541;}</style></defs><title>1</title><rect class="cls-1" x="15" y="8.5" width="30" height="43"/><path class="cls-2" d="M52.44,28.4H51.31V15.53a3,3,0,0,0-3-3h-37a3,3,0,0,0-3,3V28.4H7.56a3,3,0,0,0-3,3v13.2a3,3,0,0,0,3,3h1v2.31a1.65,1.65,0,0,0,3.3,0V47.54h36.3v2.31a1.65,1.65,0,0,0,3.3,0V47.54h1a3,3,0,0,0,3-3V31.37A3,3,0,0,0,52.44,28.4ZM11.71,15.86H48V28.4H46.5V24.77a4.29,4.29,0,0,0-4.29-4.29h-6.6a4.29,4.29,0,0,0-4.29,4.29V28.4H28.56V24.77a4.3,4.3,0,0,0-4.29-4.29h-6.6a4.29,4.29,0,0,0-4.29,4.29V28.4H11.71ZM43.2,28.4H34.62V24.77a1,1,0,0,1,1-1h6.6a1,1,0,0,1,1,1Zm-17.94,0H16.68V24.77a1,1,0,0,1,1-1h6.6a1,1,0,0,1,1,1ZM52.11,44.24H7.89V31.7H52.11Z"/></svg>
                <span>5 спальных мест</span>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="flex-center">
                <svg width="80" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><defs><style>.cls-1{fill:#d2fcd2;}.cls-2{fill:#303541;}</style></defs><title>2</title><rect class="cls-1" x="5.5" y="15.5" width="49" height="29" transform="translate(0 60) rotate(-90)"/><path class="cls-2" d="M51.13,24.3,48.19,12.55A5.6,5.6,0,0,0,42.75,8.3H17.25a5.6,5.6,0,0,0-5.44,4.25L8.87,24.3a5.63,5.63,0,0,0-4.28,5.45v7.92a5.61,5.61,0,0,0,5.61,5.61h.2v4.13a4.3,4.3,0,0,0,4.29,4.29h2.64a4.3,4.3,0,0,0,4.29-4.29V43.28H39.24v4.13a4.3,4.3,0,0,0,4.29,4.29h2.64a4.3,4.3,0,0,0,4.29-4.29V43.24a5.62,5.62,0,0,0,4.95-5.57V29.75A5.63,5.63,0,0,0,51.13,24.3ZM18.32,47.41a1,1,0,0,1-1,1H14.69a1,1,0,0,1-1-1V43.78h4.62Zm28.84,0a1,1,0,0,1-1,1H43.53a1,1,0,0,1-1-1V43.78h4.62Zm5-9.74A2.31,2.31,0,0,1,49.8,40H10.2a2.31,2.31,0,0,1-2.31-2.31V29.75a2.32,2.32,0,0,1,2.31-2.31,1.64,1.64,0,0,0,1.6-1.25L15,13.35a2.31,2.31,0,0,1,2.24-1.75h25.5A2.31,2.31,0,0,1,45,13.35L48.2,26.19a1.64,1.64,0,0,0,1.6,1.25,2.32,2.32,0,0,1,2.31,2.31Z"/><path class="cls-2" d="M14.89,29.09a4.62,4.62,0,1,0,4.62,4.62A4.63,4.63,0,0,0,14.89,29.09Zm0,5.94a1.32,1.32,0,1,1,1.32-1.32A1.32,1.32,0,0,1,14.89,35Z"/><path class="cls-2" d="M44.85,29.09a4.62,4.62,0,1,0,4.62,4.62A4.62,4.62,0,0,0,44.85,29.09Zm0,5.94a1.32,1.32,0,1,1,1.32-1.32A1.32,1.32,0,0,1,44.85,35Z"/><path class="cls-2" d="M37.42,32.06H22.58a1.65,1.65,0,1,0,0,3.3H37.42a1.65,1.65,0,1,0,0-3.3Z"/><path class="cls-2" d="M18.12,25.13H41.88A1.65,1.65,0,0,0,43.46,23l-1.93-6.42a4,4,0,0,0-3.88-2.68H22.35a4,4,0,0,0-3.88,2.68L16.54,23a1.65,1.65,0,0,0,1.58,2.12Zm3.51-7.59a.77.77,0,0,1,.72-.33h15.3a.77.77,0,0,1,.72.33l1.29,4.29H20.34Z"/></svg>
                <span>место для парковки</span>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="flex-center">
                <svg width="80" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><defs><style>.cls-1{fill:#d2fcd2;}.cls-2{fill:#303541;}</style></defs><title>3</title><rect class="cls-1" x="0.5" y="13.52" width="59" height="29"/><path class="cls-2" d="M52.44,4.59H7.56a3,3,0,0,0-3,3V48.48a3,3,0,0,0,3,3h5v2.31a1.65,1.65,0,0,0,3.3,0V51.45H44.19v2.31a1.65,1.65,0,1,0,3.3,0V51.45h4.95a3,3,0,0,0,3-3V7.56A3,3,0,0,0,52.44,4.59Zm-.33,3.3V20.43H7.89V7.89ZM17.79,23.73H42.21V36.6a3.64,3.64,0,0,1-3.63,3.63H21.42a3.64,3.64,0,0,1-3.63-3.63ZM7.89,48.15V23.73h6.6V36.6a6.94,6.94,0,0,0,6.93,6.93H38.58a6.94,6.94,0,0,0,6.93-6.93V23.73h6.6V48.15Z"/><path class="cls-2" d="M25.05,16.8a2.64,2.64,0,1,0-2.64-2.64A2.64,2.64,0,0,0,25.05,16.8Z"/><path class="cls-2" d="M15.15,16.8a2.64,2.64,0,1,0-2.64-2.64A2.64,2.64,0,0,0,15.15,16.8Z"/><path class="cls-2" d="M35,16.8a2.64,2.64,0,1,0-2.64-2.64A2.64,2.64,0,0,0,35,16.8Z"/><path class="cls-2" d="M44.85,16.8a2.64,2.64,0,1,0-2.64-2.64A2.64,2.64,0,0,0,44.85,16.8Z"/></svg>
                <span>газовая плита</span>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="flex-center">
                <svg width="80" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><defs><style>.cls-1{fill:#d2fcd2;}.cls-2{fill:#303541;}</style></defs><title>4</title><rect class="cls-1" x="8.5" y="13.52" width="43" height="29"/><path class="cls-2" d="M44.52,4.59h-29a3,3,0,0,0-3,3V48.48a3,3,0,0,0,3,3h2.89v2.31a1.65,1.65,0,0,0,3.3,0V51.45h16.5v2.31a1.65,1.65,0,0,0,3.3,0V51.45h3.05a3,3,0,0,0,3-3V7.56A3,3,0,0,0,44.52,4.59Zm-.33,3.3V20.43H15.81V7.89ZM15.81,48.15V23.73H44.19V48.15Z"/><path class="cls-2" d="M22,26.37A1.65,1.65,0,0,0,20.35,28v9.9a1.65,1.65,0,0,0,3.3,0V28A1.65,1.65,0,0,0,22,26.37Z"/><path class="cls-2" d="M22,17.79a1.65,1.65,0,0,0,1.65-1.65v-4a1.65,1.65,0,1,0-3.3,0v4A1.65,1.65,0,0,0,22,17.79Z"/></svg>
                <span>холодильник</span>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="flex-center">
                <svg width="80" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><defs><style>.cls-1{fill:#d2fcd2;}.cls-2{fill:#303541;}</style></defs><title>5</title><rect class="cls-1" x="5.5" y="15.5" width="49" height="29" transform="translate(0 60) rotate(-90)"/><path class="cls-2" d="M30,50.49a5.61,5.61,0,1,1,5.61-5.61A5.61,5.61,0,0,1,30,50.49Zm0-7.92a2.31,2.31,0,1,0,2.31,2.31A2.32,2.32,0,0,0,30,42.57Z"/><path class="cls-2" d="M47.82,31.61A1.65,1.65,0,0,1,46.5,31a20.63,20.63,0,0,0-33,0,1.65,1.65,0,1,1-2.64-2,23.92,23.92,0,0,1,38.26,0,1.64,1.64,0,0,1-.32,2.31A1.68,1.68,0,0,1,47.82,31.61Z"/><path class="cls-2" d="M41.87,38.6a1.66,1.66,0,0,1-1.32-.66,13.2,13.2,0,0,0-21.1,0,1.65,1.65,0,0,1-2.64-2,16.5,16.5,0,0,1,26.38,0,1.65,1.65,0,0,1-1.32,2.64Z"/><path class="cls-2" d="M6.24,24.68a1.59,1.59,0,0,1-1-.33A1.65,1.65,0,0,1,4.92,22a31.37,31.37,0,0,1,50.16,0,1.65,1.65,0,0,1-2.64,2A28.05,28.05,0,0,0,7.56,24,1.64,1.64,0,0,1,6.24,24.68Z"/></svg>
                <span>wi-fi</span>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="flex-center">
                <svg width="80" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><defs><style>.cls-1{fill:#d2fcd2;}.cls-2{fill:#303541;}</style></defs><title>6</title><rect class="cls-1" x="4" y="21.46" width="52" height="25"/><path class="cls-2" d="M52.44,17.79a3,3,0,0,0,3-3V9.54a3,3,0,0,0-3-3H7.56a3,3,0,0,0-3,3v5.28a3,3,0,0,0,3,3h1V50.13H6.24a1.65,1.65,0,0,0,0,3.3H53.76a1.65,1.65,0,0,0,0-3.3H51.45V17.79ZM7.89,9.87H52.11v4.62H7.89ZM40.11,50.13H36.05a7.43,7.43,0,0,0,1.42-4.36c0-6.28-6.33-11.1-6.6-11.3a1.66,1.66,0,0,0-1.81-.11A1.68,1.68,0,0,0,28.24,36c.21,1.71-.57,2.36-2.19,3.58s-3.76,2.8-3.76,6.2a7.43,7.43,0,0,0,1.42,4.36H19.65V32a6.27,6.27,0,0,1,6.27-6.27h7.92A6.27,6.27,0,0,1,40.11,32ZM25.59,45.77c0-1.66.88-2.4,2.43-3.56a8.89,8.89,0,0,0,3-3.13c1.48,1.62,3.18,4.05,3.18,6.69a4.29,4.29,0,0,1-8.58,0Zm22.56,4.36H43.41V32a9.58,9.58,0,0,0-9.57-9.57H25.92A9.58,9.58,0,0,0,16.35,32V50.13h-4.5V17.79h36.3Z"/></svg>
                <span>камин</span>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="flex-center">
                <svg width="80" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><defs><style>.cls-1{fill:#d2fcd2;}.cls-2{fill:#303541;}</style></defs><title>7</title><rect class="cls-1" x="0.5" y="15.5" width="59" height="29"/><path class="cls-2" d="M35.94,4.59A19.49,19.49,0,0,0,16.47,24.06,19.87,19.87,0,0,0,17,28.35H14.08a1.63,1.63,0,0,0-1.64,1.82L13,35.54a6.88,6.88,0,0,0-1.81-.26,6.6,6.6,0,1,0,3.07,12.43l.65,6.22a1.66,1.66,0,0,0,1.64,1.48H31.4A1.64,1.64,0,0,0,33,53.93l1.1-10.48c.59,0,1.2.08,1.8.08a19.47,19.47,0,0,0,0-38.94ZM13.86,43.82a3.3,3.3,0,1,1-.46-4.39l.35,3.32ZM18,52.11,15.91,31.65H32.05L29.92,52.11Zm9.65-28a8.25,8.25,0,1,1,8.25,8.25c-.21,0-.43,0-.64,0l.22-2.1a1.64,1.64,0,0,0-.42-1.28,1.67,1.67,0,0,0-1.22-.54h-5A8.18,8.18,0,0,1,27.69,24.06Zm8.25,16.17a14.13,14.13,0,0,1-1.46-.07l.48-4.6c.32,0,.65,0,1,0a11.56,11.56,0,1,0-10.72-7.26H20.35A16.17,16.17,0,1,1,35.94,40.23Z"/></svg>
                <span>посуда</span>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="flex-center">
                <svg width="80" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><defs><style>.cls-1{fill:#d2fcd2;}.cls-2{fill:#303541;}</style></defs><title>8</title><rect class="cls-1" x="8.5" y="15.5" width="43" height="29"/><path class="cls-2" d="M36.51,38.39a17.51,17.51,0,0,0,11-16.23,1.65,1.65,0,0,0-1.65-1.65h-11a1.68,1.68,0,0,0-.24-.69c-1.34-2.15-.7-3.25.36-5.06,1.26-2.16,3-5.12-.46-9.53a1.65,1.65,0,0,0-2.6,2c2.07,2.66,1.37,3.86.21,5.84-1,1.77-2.4,4.14-.88,7.42H27.57a1.65,1.65,0,0,0-.24-.82c-.68-1.08-.43-1.5.24-2.64.84-1.45,2.11-3.64-.34-6.79a1.65,1.65,0,1,0-2.61,2c1.09,1.39.82,1.85.1,3.09A5.24,5.24,0,0,0,24,20.51H14.16a1.65,1.65,0,0,0-1.65,1.65,17.5,17.5,0,0,0,11,16.23L15.21,52.94a1.65,1.65,0,1,0,2.86,1.64l3.78-6.64h16.3l3.78,6.64a1.65,1.65,0,0,0,1.43.83,1.63,1.63,0,0,0,.82-.22,1.65,1.65,0,0,0,.62-2.25ZM15.91,23.81H44.09a14.19,14.19,0,0,1-28.18,0Zm7.82,20.83,3-5.3a17.19,17.19,0,0,0,6.5,0l3,5.3Z"/></svg>
                <span>мангал</span>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="flex-center">
                <svg width="80" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><defs><style>.cls-1{fill:#d2fcd2;}.cls-2{fill:#303541;}</style></defs><title>9</title><rect class="cls-1" x="0.5" y="15.5" width="59" height="29"/><path class="cls-2" d="M55.22,14.51l0-.08a.37.37,0,0,0,0-.11,1,1,0,0,1,0-.1s0-.06,0-.09a.5.5,0,0,0,0-.12.36.36,0,0,0,0-.11v-.1a.11.11,0,0,0,0-.05.13.13,0,0,0,0-.06v-.1a.43.43,0,0,0,0-.11.5.5,0,0,0,0-.12s0-.06,0-.09a1,1,0,0,1,0-.1.37.37,0,0,0,0-.11l0-.08-.06-.09-.07-.12,0,0h0L55,12.63l-.1-.1-.07-.06,0,0-4.1-3.23a1.65,1.65,0,0,0-2,2.59l.37.29H45a4.62,4.62,0,0,0-4.62,4.62V46.51a1.33,1.33,0,0,1-2.66,0V16.72a4.63,4.63,0,0,0-9.26,0V46.51a1.33,1.33,0,0,1-2.66,0V16.72a4.63,4.63,0,0,0-9.25,0V46.51a1.33,1.33,0,1,1-2.66,0V16.72a4.63,4.63,0,0,0-9.26,0V25.5a1.65,1.65,0,0,0,3.3,0V16.72a1.33,1.33,0,0,1,2.66,0V46.51a4.63,4.63,0,1,0,9.26,0V16.72a1.33,1.33,0,0,1,2.65,0V46.51a4.63,4.63,0,1,0,9.26,0V16.72a1.33,1.33,0,0,1,2.66,0V46.51a4.63,4.63,0,0,0,9.26,0V16.72A1.32,1.32,0,0,1,45,15.4h4l-.37.28a1.65,1.65,0,0,0,1,2.95,1.68,1.68,0,0,0,1-.35L54.78,15l0,0,0,0,.12-.12.07-.08h0l0,0,.07-.12Z"/></svg>
                <span>отопление</span>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="flex-center">
                <svg width="80" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><defs><style>.cls-1{fill:#d2fcd2;}.cls-2{fill:#303541;}</style></defs><title>10</title><rect class="cls-1" x="7.5" y="17.17" width="45" height="35" transform="translate(-4.67 64.67) rotate(-90)"/><path class="cls-2" d="M42.54,46.56H17.46a3,3,0,0,1-3-3V26.43a3,3,0,0,1,3-3H42.54a3,3,0,0,1,3,3V43.59A3,3,0,0,1,42.54,46.56Zm-24.75-3.3H42.21V26.76H17.79Z"/><path class="cls-2" d="M52.44,16.53H33.89L44.77,5.65a1.65,1.65,0,1,0-2.33-2.34L30.08,15.68l-7-7A1.65,1.65,0,0,0,20.69,11l5.57,5.57H7.56a3,3,0,0,0-3,3v31a3,3,0,0,0,3,3H52.44a3,3,0,0,0,3-3v-31A3,3,0,0,0,52.44,16.53Zm-.33,33.66H7.89V19.83H52.11Z"/><path class="cls-2" d="M48.31,27.58h0a2,2,0,0,1-2-2h0a2,2,0,0,1,2-2h0a2,2,0,0,1,2,2h0A2,2,0,0,1,48.31,27.58Z"/><path class="cls-2" d="M48.31,33.52h0a2,2,0,0,1-2-2h0a2,2,0,0,1,2-2h0a2,2,0,0,1,2,2h0A2,2,0,0,1,48.31,33.52Z"/></svg>
                <span>телевизор</span>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="flex-center">
                <svg width="80" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><defs><style>.cls-1{fill:#d2fcd2;}.cls-2{fill:#303541;}</style></defs><title>11</title><rect class="cls-1" x="0.5" y="15.5" width="59" height="29"/><path class="cls-2" d="M38,29.67a1.65,1.65,0,0,0,0-3.3H33.6V21.75H38a1.65,1.65,0,0,0,0-3.3H33.6V17.13a1.65,1.65,0,0,0-3.3,0V38.91a1.65,1.65,0,0,0,3.3,0V37.59H38a1.65,1.65,0,0,0,0-3.3H33.6V29.67Z"/><path class="cls-2" d="M46.61,16.62A17.47,17.47,0,0,0,18,9.37H6.24a1.65,1.65,0,0,0-1.41,2.51l7.68,12.61V45.83h0v6.92a2.64,2.64,0,0,0,2.64,2.64h29.7a2.64,2.64,0,0,0,2.64-2.64V22.08a16.26,16.26,0,0,0-.1-1.85A7.27,7.27,0,0,1,52.11,27V37.92a1.65,1.65,0,1,0,3.3,0V27A10.57,10.57,0,0,0,46.61,16.62Zm-2.42,5.46V44.19H15.81V22.08a14.19,14.19,0,0,1,28.38,0ZM15.27,12.67a17.38,17.38,0,0,0-2.43,6l-3.66-6Zm.54,39.44V47.49H44.19v4.62Z"/></svg>
                <span>электрочайник</span>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="flex-center">
                <svg width="80" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><defs><style>.cls-1{fill:#d2fcd2;}.cls-2{fill:#303541;}</style></defs><title>12</title><rect class="cls-1" x="12.8" y="0.5" width="26" height="59"/><path class="cls-2" d="M7.92,33.6A1.65,1.65,0,0,1,6.27,32V26a1.65,1.65,0,0,1,3.3,0v6A1.65,1.65,0,0,1,7.92,33.6Z"/><path class="cls-2" d="M13.88,37.57a1.65,1.65,0,0,1-1.65-1.65V30a1.65,1.65,0,1,1,3.3,0v6A1.65,1.65,0,0,1,13.88,37.57Z"/><path class="cls-2" d="M51.09,12.41H45.16a9.58,9.58,0,0,0-9.4-7.82H15.84a9.6,9.6,0,0,0,0,19.19h2.35V29a1.65,1.65,0,0,0,3.3,0V23.78H35.76a9.57,9.57,0,0,0,9.43-8.07h5.24v12.6H32.78A2.64,2.64,0,0,0,30.14,31v4.47a4.29,4.29,0,0,0-3,4.09V51.12a4.29,4.29,0,0,0,4.29,4.29h.68a4.29,4.29,0,0,0,4.29-4.29V39.51a4.3,4.3,0,0,0-3-4.07V31.61H51.09A2.65,2.65,0,0,0,53.73,29V15.06A2.65,2.65,0,0,0,51.09,12.41ZM35.76,20.48H15.84a6.3,6.3,0,0,1,0-12.59H35.76a6.3,6.3,0,0,1,0,12.59ZM33.09,51.12a1,1,0,0,1-1,1h-.68a1,1,0,0,1-1-1V39.51a1,1,0,0,1,1-1h.68a1,1,0,0,1,1,1Z"/></svg>
                <span>кап. ремонт</span>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="flex-center">
                <svg width="80" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><defs><style>.cls-1{fill:#d2fcd2;}.cls-2{fill:#303541;}</style></defs><title>13</title><rect class="cls-1" x="17" y="0.5" width="26" height="59"/><path class="cls-2" d="M55.34,34.35a1.66,1.66,0,0,0-2.07-1.09,19.54,19.54,0,0,1-4.29.83V11.19A6.6,6.6,0,0,0,36,9.72l-1.34-.49a1.65,1.65,0,0,0-1.13,3.1l5.58,2a1.9,1.9,0,0,0,.57.1,1.66,1.66,0,0,0,1.55-1.09,1.64,1.64,0,0,0-1-2.11l-1.08-.4a3.29,3.29,0,0,1,6.57.32V34.05c-4.45-.43-8.55-2.29-12.81-4.24-7.41-3.38-15.81-7.21-27.13-3.58a1.65,1.65,0,1,0,1,3.14c.67-.21,1.33-.39,2-.55l1.43,15a8.67,8.67,0,0,0,6.1,7.5l-.54,2a1.65,1.65,0,0,0,1.17,2,1.54,1.54,0,0,0,.43.06,1.66,1.66,0,0,0,1.59-1.22l.69-2.58H39.81l.69,2.58a1.65,1.65,0,1,0,3.18-.86l-.47-1.75a8.5,8.5,0,0,0,7.47-7.69l.65-6.77a24.25,24.25,0,0,0,2.92-.71A1.65,1.65,0,0,0,55.34,34.35ZM47.4,43.57a5.19,5.19,0,0,1-4.91,4.74H18.35a5.24,5.24,0,0,1-4.91-4.82L12,28.23c7.55-.87,13.62,1.89,19.52,4.59C36.36,35,41.34,37.3,47,37.44a2,2,0,0,0,.34,0l.22,0H48Z"/></svg>
                <span>горячая вода, душ, туалет</span>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="flex-center">
                <svg width="80" height="60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><defs><style>.cls-1{fill:#d2fcd2;}.cls-2{fill:#303541;}</style></defs><title>14</title><rect class="cls-1" x="5.5" y="15.5" width="49" height="29"/><path class="cls-2" d="M30,22.41A11.55,11.55,0,1,0,41.55,34,11.56,11.56,0,0,0,30,22.41Zm0,3.3a8.26,8.26,0,0,1,8.21,7.49,6.52,6.52,0,0,1-.68-.52,6.26,6.26,0,0,0-8.56,0,3,3,0,0,1-4.38,0,7.05,7.05,0,0,0-2.38-1.4A8.24,8.24,0,0,1,30,25.71Zm0,16.5a8.25,8.25,0,0,1-8.21-7.52,8.7,8.7,0,0,1,.72.55,6.25,6.25,0,0,0,8.55,0,3,3,0,0,1,4.38,0,7.21,7.21,0,0,0,2.36,1.4A8.28,8.28,0,0,1,30,42.21Z"/><path class="cls-2" d="M41.88,13.83h-7a1.65,1.65,0,1,1,0-3.3h7a1.65,1.65,0,0,1,0,3.3Z"/><path class="cls-2" d="M18.12,14.16h0a2,2,0,0,1-2-2h0a2,2,0,0,1,2-2h0a2,2,0,0,1,2,2h0A2,2,0,0,1,18.12,14.16Z"/><path class="cls-2" d="M24.06,14.16h0a2,2,0,0,1-2-2h0a2,2,0,0,1,2-2h0a2,2,0,0,1,2,2h0A2,2,0,0,1,24.06,14.16Z"/><path class="cls-2" d="M46.5,4.59h-33a3,3,0,0,0-3,3V48.48a3,3,0,0,0,3,3h1v2.31a1.65,1.65,0,0,0,3.3,0V51.45H42.21v2.31a1.65,1.65,0,0,0,3.3,0V51.45h1a3,3,0,0,0,3-3V7.56A3,3,0,0,0,46.5,4.59Zm-.33,3.3v8.58H13.83V7.89ZM13.83,48.15V19.77H46.17V48.15Z"/></svg>
                <span>стиральная машина</span>
            </div>
        </div>

    </div>
</section>
