<section class="container mb-15 choice">
    <h3>почему вам стоит выбрать нас</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
                <div class="choice-box">
                    <span class="sprite-holder"><i class="sprite sprite-diamond"></i></span>
                    <span class="title">самое дешевое предложение</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="choice-box">
                    <span class="sprite-holder"><i class="sprite sprite-user"></i></span>
                    <span class="title">приятные хозяева</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="choice-box">
                    <span class="sprite-holder"><i class="sprite sprite-like"></i></span>
                    <span class="title">отличные условия проживания</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="choice-box">
                    <span class="sprite-holder"><i class="sprite sprite-sun"></i></span>
                    <span class="title">возможность оздоровиться</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="choice-box">
                    <span class="sprite-holder"><i class="sprite sprite-transfer"></i></span>
                    <span class="title">предоставление трансфера</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="choice-box">
                    <span class="sprite-holder"><i class="sprite sprite-home"></i></span>
                    <span class="title">проживание в сельских условиях</span>
                </div>
            </div>
        </div>
    </div>
</section>
