<section id="feedbacks" class="container mb-15 feedbacks">
    <h3>Отзывы</h3>
    <div class="gallery">
        <div class="wrap">
            <div id="disqus_thread"></div>
            <script>
                 var disqus_config = function () {
                 this.page.url = 'http://villa-helena.com.ua/';
                 this.page.identifier = 'landing';
                 };
                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://villa-helena.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

            <!--<ul class="list">
                <li class="row flex">
                    <div class="col-xs-8 text flex">
                        <p>Спасибо, мы отлично провели время. Посетили ближайшие достопримечательности, баблабла... И еще что-нибудь. Придумать текст отзыва.</p>
                        <span class="uppercase">Семья Ивановых</span>
                    </div>
                    <img class="col-xs-3" src="images/content/feedbacks/feedback-1.jpg" height="175" width="234" alt=""/>
                </li>
                <li class="row flex">
                    <div class="col-xs-8 text flex">
                        <p>Спасибо, мы отлично провели время. Посетили ближайшие достопримечательности, баблабла... И еще что-нибудь. Придумать текст отзыва.</p>
                        <span class="uppercase">Семья Ивановых</span>
                    </div>
                    <img class="col-xs-3" src="images/content/feedbacks/feedback-1.jpg" height="175" width="234" alt=""/>
                </li>
                <li class="row flex">
                    <div class="col-xs-8 text flex">
                        <p>Спасибо, мы отлично провели время. Посетили ближайшие достопримечательности, баблабла... И еще что-нибудь. Придумать текст отзыва.</p>
                        <span class="uppercase">Семья Ивановых</span>
                    </div>
                    <img class="col-xs-3" src="images/content/feedbacks/feedback-1.jpg" height="175" width="234" alt=""/>
                </li>
            </ul>
            <a href="#" class="prev">&lt;</a>
            <a href="#" class="next">&gt;</a>
        </div>
        -->
    </div>

</section>
