<section id="street-view" class="container mb-15 map-holder">
    <h3>3D тур</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m0!4v1502725353500!6m8!1m7!1sF%3A-79OhinFYznQ%2FWYWlG03ryOI%2FAAAAAAAAAhQ%2FzKFDlrMx1aEi3RcgooZ-rtE1qzW0uGKRQCLIBGAYYCw!2m2!1d49.2397490880174!2d26.2632281533282!3f32.66583532557228!4f0.8749252603620477!5f0.7820865974627469" width="100%" height="840" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>